@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body,html
{
    width: 100%;
    height: 100%;
    /* font-size: 18px; */
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
nav li 
{
    margin: 1rem;
    color: hsl(257, 22%, 78%);
}
ul
{
    list-style: none;
}
nav ul
{
    /* display: inline-flex; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
nav
{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
}
.left
{
    /* align-self :flex-end; */
    /* margin: auto;
    float: right; */
}
.right
{
    margin-left: auto;
    float: right;
    align-self: flex-end;
}
nav li 
{
    margin: 1rem;
}
#block-display
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.main
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main > *
{
    position: relative;
}
.first-div
{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    justify-content: space-around;
    align-content: center;
    /* background: url('./images/illustration-working.svg') scroll 50% 50% no-repeat; */
    /* height: 100%; */
}
.first-div img 
{
    width: 50%;
}
.first-div img  h1
{
    width: fit-content;
    color: hsl(257, 22%, 78%);
    /* align-self: center; */
    margin: 0% auto;
}
.first-div span
{
    margin: 0% auto;
    width: 80%;
    color: hsl(257, 22%, 78%);
    align-self: center;
}
.grid-display-first
{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    margin-left: auto;
}
.grid-display-first button
{
    width: 10rem;
    float: left;
}
.input-bar
{
    display: flex;
    flex-direction: row;
    background: url('./images/bg-shorten-desktop.svg') no-repeat hsl(257, 27%, 26%);
    /* height: 100%; */
    padding: 2rem;
    justify-content: center;
    align-content: center;
    border-radius: 0.3rem;
    margin: auto;
    width: 50%;
    align-self: center;
    position: relative;
    top: 2rem;
}
.input-bar input
{
    border: none;
    padding: 0.2rem 1rem;
    width: 25%;
    border-radius: 0.4rem;
}
.input-bar button
{
    border: none;
    padding: 0.2rem 1rem;
    background: hsl(180, 66%, 49%);
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    border-radius: 0.5rem;
    font-weight: 700;
}
.second-div
{
    
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    background: hsl(257, 37%, 85%);
    padding: 2rem 0rem;
}
.second-div h1, .second-div h2
{
    text-align: center;
}
.container
{
    width: 100%;
    /* height: 26rem; */
    margin: auto;
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.card
{
    background: hsl(0, 0%, 100%);;
    width: 25%;
    display: flex;
    position: relative;
    z-index: 1;
    height: 100%;
    margin:5% auto;
    border-radius: 0.5rem;
    padding: 1rem;
    /* height: 20rem; */
    flex-direction: column;
    color: hsl(0, 0%, 75%);
}
.second-div span
{
    color:  hsl(257, 7%, 63%);
    width: 50%;
    align-self: center;
    margin: auto;
    text-align: center;
}

.card h2
{
    color: hsl(260, 8%, 14%);
}
.card1::after,.card2::after
{
    position: relative;
    width: 10rem;
    /* display: flex;
    flex-direction: row; */
    z-index: -1;
    height: 0.5rem;
    background: hsl(180, 66%, 49%);
    content: "";
}
.card1::after
{
    top: -3rem;
    left: 16rem;
}
.card2::after
{
    top: -4rem;
    left: 16rem;
}
.card img
{
    background: hsl(260, 8%, 14%);
    padding: 1rem;
    border-radius: 50%;
    position: relative;
    top: -2rem;
    margin: auto;
    width: 3rem;
}
.card2
{
    top:2rem;
}
.card3
{
    top:4rem ;
}
.third-div
{
    background: url('./images/bg-boost-desktop.svg') no-repeat hsl(257, 27%, 26%);
    text-align: center;
    width: 100%;
    padding: 2rem;
    /* height: 10rem; */
}
.third-div h1
{   
    width: 100%;
    color: hsl(0, 0%, 100%);
}
.third-div button, .sign-up , .started
{
    border: none;
    padding: 0.2rem 1rem;
    background: hsl(180, 66%, 49%);
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    border-radius: 0.8rem;
    font-weight: 700;
}
.fourth-div
{
    /* display: grid;
    grid-template-columns: repeat(5,1fr); */
    display: flex;
    flex-direction: row;
    align-items: center;
    background: hsl(260, 8%, 14%);
    text-align: center;
    padding: 1rem;
    width: 100%;
}
.fourth-div > *
{
    margin: auto;
}
#logo
{
    color: hsl(0, 0%, 100%);
}
.fourth-div h1
{
    color: hsl(0, 0%, 100%);
}
.fourth-div span
{
    color: hsl(257, 22%, 78%);
}
#result
{
    display: flex;
    flex-direction: column;
}
#result button
{
    border: none;
    padding: 0rem 1rem;
    background: hsl(180, 66%, 49%);
    color: hsl(0, 0%, 100%);
    height: fit-content;
    font-size: 18px;
    border-radius: 0.2rem;
    font-weight: 700;
    justify-self: center;
    align-self: center;
    margin: auto;
    position: relative;
    left: 2%;
}
#result button:active
{
    background: hsl(257, 27%, 26%);
}
.result-card
{
    /* display: flex; */
    /* margin: 1re; */
    /* flex-direction: row;
    background: hsl(0, 0%, 100%);
    width: 90%;
    height: 50%;
    border-radius: 0.5rem;
    margin: 2% auto; */
    /* padding: 1rem;
    width: 80%;
    height: 50%;
    border-radius: 0.5rem; */

    display: flex;
    flex-direction: row;
    background: hsl(0, 0%, 100%);
    width: 90%;
    height: 50%;
    border-radius: 0.5rem;
    margin: 2% auto;
    padding: 0rem 1.5rem;

}
#result h4,#result h5
{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#result h4 
{
    margin-left: auto;
    float: right;
    color:  hsl(180, 66%, 49%);
    align-self: flex-end;
    width: 50%;
    left: 19%;
    position: relative;
}
.hamburger
{
    width: 2.5rem;
    height: 5rem;
    display: none;
}
.hamburger > *
{
    background: hsl(0, 0%, 75%);
    width: 2.5rem;
    height: 3px;
    margin: 10% auto;
}
.error
{
    color: hsl(0, 87%, 67%);
}
@media screen and (max-width:780px) {
    .main > *,.container,.fourth-div
    {
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        margin: auto;
    }
    #block-display
    {}
    .left,.right
    {
        display: none;
    }
    .hamburger
    {
        display: block;
        margin-left: auto;
        padding: 1rem;
        float: right;
        /* align-self: flex-end; */
    }
    .first-div
    {
        flex-direction: column-reverse;
    }
    .card
    {
        width: 80%;
        margin: 5% auto;
    }
    
    .input-bar
    {
        background: url('./images/bg-shorten-mobile.svg') no-repeat hsl(257, 27%, 26%);
        flex-direction: column;
        width: 80%;
    }
    .input-bar *
    {
        /* background: saddlebrown; */
        width: 85%!important;
    }

    .third-div
    {
        background: url('./images/bg-boost-mobile.svg') no-repeat hsl(257, 27%, 26%);
    }
    .first-div img 
    {
        width: 100%;
    }
    .result-card
    {
        flex-direction: column;
    }
    .result-card *
    {
        width: 100%!important;
        left: 0rem!important;
        /* background: red; */
    }
}